/* Estilos del contenedor del modal */
.modal-content {
    background-color: #1d3f7d;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el logo */
.logo-reconstruccion {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* Estilo para el título */
h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Estilo para las etiquetas y los selectores */
label {
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
    text-align: left;
    width: 100%;
}

select, input[type="date"] {
    width: 100%; /* Ambos campos tomarán el 100% del contenedor */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el ancho incluya el padding y borde */
}


/* Estilo para los botones */
.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reconstruirBtn {
    background-color: #4CAF50; /* Botón de reconstruir en verde */
    color: white;
}

#closeModal {
    background-color: #f44336; /* Botón de cancelar en rojo */
    color: white;
}

button:hover {
    opacity: 0.9;
}
